form {
    position: fixed;
    bottom: 0;
    background-color: white;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    color: #292a2c;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.2),
        inset 0 0 2px 0 #ffffff;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 5vh;
}

#emoji {
    font-style: normal;
}

textarea {
    -webkit-appearance: none;
    font-family: adelle-sans, helvetica, serif;
    resize: none;
    width: 80%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    display: block;
    font-size: 18px;
    outline: 0;
    overflow: auto;
    border: white 2px solid;
    min-height: 50px !important;
    overflow: hidden;
}

::-webkit-input-placeholder {
    max-height: 100%;
    line-height: 50px;
}

:-moz-placeholder {
    line-height: 50px;
}

::-moz-placeholder {
    line-height: 50px;
}

:-ms-input-placeholder {
    line-height: 50px;
}

textarea::placeholder {
    line-height: 50px;
}

textarea:focus::placeholder {
    color: transparent;
}


.Submit {
    display: block;
    margin-left: auto;
    margin-right: 0;
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: white;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    display: flex;
    align-items: center;
}

.Submit svg {
    text-align: right;
    width: 27px;
    fill: #0f7b65;
    transition: 0.5s;
}

.Submit svg:hover,
.Submit svg:focus,
.Submit svg:active {
    fill: #ED5B47;
}

.Submit svg:active {
    fill: #AF4237;
    transform: scale(0.87);
}