*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  overflow-y: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h3 {
  font-weight: 100;
}

a {
  position: relative;
  display: inline-block;
  padding-bottom: 3px;
  text-decoration: none;
  color: #0f7b65;
  font-weight: 400;

}

a:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: transform 0.2s cubic-bezier(0.84, 0.41, 0, 1.2), opacity 0.2s ease-out;
}

a:focus:after,
a:hover:after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.hover18:focus:after,
.hover18:hover:after {
  width: 100%;
}

a:focus {
  outline: 0;
}

a:focus,
a:hover {
  color: #ED5B47;
}

a:after {
  background-color: #ED5B47;
}

a:visited {
  color: #AF4237;
}


main {
  padding: 10px;
  height: 90vh;
  width: 75vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #004C3F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.AIChatBubble,
.HumanChatBubble {
  display: flex;
  font-size: 15px;
  font-weight: 100;
  line-height: 25px;
  padding: 0px 20px;
  color: black;
  width: 70%;
  min-height: 75px;
  overflow: hidden;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.10), 0 0 5px 0 rgba(0, 0, 0, 0.20), inset 0 0 2px 0 #FFFFFF;
  animation-duration: 1s;
  animation-fill-mode: both;
  margin-bottom: 20px;
  align-items: center;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
}

.AIChatBubble {
  background: #FFFFFF;
  border-radius: 16px 16px 16px 0px;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: auto;
  width: 100%;
}

.HumanChatBubble {
  border-radius: 16px 16px 0px 16px;
  background: #e9f2d9;
  margin-left: auto;
  margin-right: 0;
}

.delay-2 {
  animation-delay: 2s;
}

.delay-4 {
  animation-delay: 4s;
}

.fadeInBottom {
  animation-name: fadeInBottom
}

main::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

main::-webkit-scrollbar-track {
  margin-top: 2vh;
  margin-bottom: 7vh;
}

main::-webkit-scrollbar-thumb {
  background: black;
}

main:active::-webkit-scrollbar-thumb {
  visibility: visible;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1
  }
}