body {
  color: white;
  background-color: #004C3F;
  margin: 0;
  font-family: adelle-sans, helvetica, serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: adelle-sans, sans-serif;
  font-style: normal;
}